/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*In case you prefer an absolutely positioned header that covers the full page height, add these styles*/
/*body {
  position: relative;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}*/

/*remove these styles*/
/*.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}*/
body {
  font: 16px/1.5 "Lato", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page-header {
  z-index: 99;
  position: sticky;
  box-sizing: content-box;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 20px;
  color: var(--page-header-txtColor);
  background: var(--page-header-bgColor);


ul {
    list-style: none;
  }
  
  a,button {
    color: inherit;
  }
  
  a{
    text-decoration: none;
  }
  
  button{
    background: none;
    cursor: pointer;
  }
  
  input {
    -webkit-appearance: none;
  }
  
  button,input {
    border: none;
  }

    .admin-menu {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 35px;
            li:last-child {
            margin-top: auto;
            margin-bottom: 20px;
            }
            li > * {
                width: 100%;
                padding: 12px 15px;
              }
            .menu-heading h3 {
                text-transform: uppercase;
                letter-spacing: 0.15em;
                font-size: 12px;
                margin-top: 12px;
                color: var(--page-header-headingColor);
              }
              svg {
                width: 20px;
                height: 20px;
                fill: var(--page-header-txtColor);
                margin-right: 10px;
                transition: fill 0.2s;
              }
             li a,button {
                display: flex;
                align-items: flex-end;
                text-align: center;
                font-size: 0.9rem;
                transition: all 0.2s 0.2s;
              }
             li a:focus ,li button:focus ,li button:hover ,li a:hover {
                background: var(--page-header-bgColor-hover);
                color: var(--blue);
                outline: none;
                text-decoration: none;
              }
      }
      .notificationsubmain{
        
        li{
          cursor: pointer;
        }
        li a > span{
          background-color: #2b2421f1;
          padding: 0px 7px;
          border-radius: 50%;
          color: rgb(16, 164, 190);
        }
      }
    

}
